In [2]:
from src.read.processing import Processing

data_loader = Processing()
data_loader.read("autos")

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,symboling
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0,3
1,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0,3
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0,1
3,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0,2
4,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0,-1
201,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0,-1
202,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0,-1
203,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0,-1
204,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0,-1

In [4]:
data_loader.df.select_dtypes(include=['object'])

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,symboling
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,1
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,2
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,2
...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi,-1
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,-1
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,-1
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,-1
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,-1

In [3]:
data_loader.df.select_dtypes(include=['object']).columns

Index(['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders',
       'fuel-system', 'symboling'],
      dtype='object')

In [2]:
data_loader.df.columns

Index(['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price',
       'symboling'],
      dtype='object')

In [4]:
data_loader.general_preprocessing()
data_loader.df

,class,a1_o,a1_x,a2_o,a2_x,a3_o,a3_x,a4_o,a4_x,a5_o,...,a37_o,a37_x,a38_o,a38_x,a39_o,a39_x,a40_o,a40_x,a41_o,a41_x
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,1,0,1,0,1,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
67553,2,0,1,0,1,0,0,0,0,0,...,1,0,0,1,1,0,1,0,0,1
67554,1,0,1,0,1,0,0,0,0,0,...,1,0,0,1,0,1,1,0,0,0
67555,2,0,1,1,0,0,0,0,0,0,...,1,0,0,1,1,0,0,1,0,1
67556,2,0,1,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0

In [5]:
data_loader.df.shape

(48842, 27)